@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

body {
	font-family: 'Open Sans', sans-serif;
	background:whitesmoke;

}



#mainText p, .loadingText {
  font-size:38px;
  font-weight:300;
  text-align:center;
  //opacity:0;
}

.loadingText {
	.fa { color:#05535D;}
}

.gameTeam, .teamBreak {
	display:block;
	width:100%;
}

.gameDay, .gameTime, .gameTeam, .gameDate {
	font-size:40px;
	color:#05535D;
}

#gamePlayerPicture {
	border-radius:50%;
	width:250px;
	height:auto;
}

.hide {
	display:none;
}

.show {
	display:block;
}

#content {
	margin-top:5%;
}

